.users-table {
  td[data-role="user-last_name"] { width: 20%; }
  td[data-role="user-first_name"] { width: 20%; }
  td[data-role="user-username"] { width: 20%; }
  td[data-role="user-actions"] {
    text-align: right;
  }
}

.intent-form {
  vertical-align: center;

  &.success { background-color: lighten($success-color, 72%); }
  &.failure { background-color: lighten($alert-color, 53%); }
}

.intent-selection-dropdown {
  max-width: 10rem;
}
